html,
body {
  height: 100%;
  min-height: 100%;
}

div {
  border-style: ;
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: center / 1000px url(imgs/gym.jpg) no-repeat,
    radial-gradient(#5e5151, #15183a);
}

.icon {
  height: 36px;
  width: 36px;
  margin-right: 20px;
  transition: transform 0.7s ease-in-out;
}

.icon:hover {
  transform: rotate(360deg);
}

.navbar-brand {
  color: aquamarine;
}
/* the 3 main divs in columns below the nav bar*/
.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  width: 33%;
  z-index: 1;
}

.a1 {
  width: 80%;
  margin: auto;
  height: 80%;
  margin-top: 3rem;
}

.a2 {
  width: 20rem;
  margin: auto;
  height: 20rem;
  margin-top: 3rem;
}

.b {
  height: 100%;
  width: 100%;
  width: 33%;
  z-index: 99;
  margin-top: 3rem;
}

.b1 {
  width: 30rem;
}

.b2 {
  width: 30%;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.c {
  height: 100%;
  width: 100%;
  width: 33%;
  z-index: 99;
}
